body {
  background-color: rgb(130, 129, 221);
  display: grid;
  place-items: center;
  min-height: 100vmin;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  border-radius: 10px;
  height: 600px;
  width: 800px;
}

.btn {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
}

.b1 {
  border-style: 3px groove;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
}

.b1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(255, 126, 201, 0.336);
  color: rgb(255, 255, 255);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  letter-spacing: 1px;
  z-index: 1;
  transition: 0.35s;
  padding: 10px 20px;
}

.b1:hover a {
  letter-spacing: 2px;
}

.b1 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgb(233, 147, 255) 0%, transparent 100%);
  transform: skewX(45deg) translate(0);
  filter: blur(2px);
  transition: 0.5s;
}

.b1:hover a::before {
  transform: skew(0deg) translate(200px);
}

.b1:hover::before {
  left: 50%;
  height: 95%;
  width: 95%;
  transform: translateZ(-50%);
}

.b1 a i {
  margin-left: 3px;
}

.b2 {
  background: rgba(63, 255, 79, 0.4);
  border: 3px groove rgba(63, 255, 79, 0.2);
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.75s;
}

.b2:hover {
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.4);
  background: rgba(63, 255, 79, 0.1);
}

.b2 a {
  color: rgb(0, 0, 0);
  padding: 12px 24px;
  backdrop-filter: blur(6px);
  letter-spacing: 1px;
  transition: 0.75s;
}

.b2:hover a {
  letter-spacing: 1.75px;
}

.b2::before,
.b2::after {
  content: "";
  position: absolute;
  height: 150%;
  width: 100%;
  box-shadow: inset 0px 0px 45px rgba(255, 255, 255, 0.4);
  rotate: -45deg;
  transition: 1s;
}

.b2::before {
  transform: translateX(0%) translateY(-50%);
}
.b2::after {
  transform: translateX(0%) translateY(50%);

  z-index: -1;
}

.b2:hover::before {
  transform: translateX(150%);
}
.b2:hover::after {
  transform: translateX(-150%);
}

.b2 a i {
  transform: rotate(90deg);
  margin-left: 5px;
}
